{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>table</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    {% block content %}
   <center><h1>student List</h1></center>
   <a href="{% url 'add_student' %}" type="button"><h6>Add student</h6></a>

    
        <div class="maindiv">
        <table class="table table-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Roll no</th>
                <th>Class no</th>
                <th>Address</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>
            {% for i in student_list %}
            <tr>
                <th>{{i.id}}</th>
                <th>{{i.name}}</th>
                <th>{{i.Roll_no}}</th>
                <th>{{i.class_no}}</th>
                <th>{{i.Address}}</th>
                <td class=""><a href="{% url 'delete_student' id=i.id %}" class="">Delete</a></td>
                <td class=""><a href="{% url 'update_student' id=i.id %}" class="">Update</a></td>
            </tr>
            {% endfor %}
        </table>
        </div>
    {% endblock %}
</body>
</html>